<div class="center jumbotron">
  <h1>Welcome to <%= Date.today.cwyear %>, my friend. </h1>

  <h2>
    I dare you to have a seriously
    <a href="https://www.youtube.com/embed/OgLAP0_Ef14" target="_blank">DOPE</a>
    day.
  </h2>

  <%= link_to "JOIN THE REVOLUTION", signup_path, class: "btn btn-lg btn-primary" %>
</div>